services:
  wordpress:
    image: dunglas/frankenphp:latest
    container_name: debrand_backend_www
    environment:
      # --- FRANKENPHP CONFIG (Sintassi Map per sicurezza spazi) ---
      SERVER_NAME: ":80"
      FRANKENPHP_CONFIG: "worker ./index.php"
      MAX_REQUESTS: "500"
      TRUSTED_PROXIES: "127.0.0.1,172.16.0.0/12,10.0.0.0/8"

      # --- WP CONFIG ---
      WORDPRESS_DB_HOST: ${DB_HOST}
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${DB_PREFIX:-wp_}
      WORDPRESS_DEBUG: ${WP_DEBUG:-false}

      # --- REDIS CONFIG ---
      WP_REDIS_HOST: ${REDIS_HOST}
      WP_REDIS_PORT: ${REDIS_PORT:-6379}
      WP_REDIS_DATABASE: ${REDIS_DATABASE:-0}

      # --- KEYS & SALTS ---
      AUTH_KEY: ${AUTH_KEY}
      SECURE_AUTH_KEY: ${SECURE_AUTH_KEY}
      LOGGED_IN_KEY: ${LOGGED_IN_KEY}
      NONCE_KEY: ${NONCE_KEY}
      AUTH_SALT: ${AUTH_SALT}
      SECURE_AUTH_SALT: ${SECURE_AUTH_SALT}
      LOGGED_IN_SALT: ${LOGGED_IN_SALT}
      NONCE_SALT: ${NONCE_SALT}

    volumes:
      - ./backend/wordpress:/app/public
      - ./backend/mu-plugins:/app/public/wp-content/mu-plugins
      - ./backend/wp-config.php:/app/public/wp-config.php
    networks:
      - debrand_network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_WORDPRESS_API_URL: https://www.debrandstudio.it/graphql
    container_name: debrand_frontend_www
    environment:
      - NEXT_PUBLIC_WORDPRESS_API_URL=https://www.debrandstudio.it/graphql
      - WORDPRESS_API_URL_INTERNAL=http://wordpress:80/graphql
    networks:
      - debrand_network
    restart: unless-stopped

networks:
  debrand_network:
    external: true
